<center><h1><%= @course.Name %></h1><br />
<center><h2>Type: <%= @course.Type %></h2><br />
<center><h2>Leader: <%= @course.Leader %></h2><br />
<center><h2>Capacity: <%= @course.Capacity %></h2><br />
